<div class="header-wrapper">
    <header>
        <div class="links">
            <a href="">
                <i class='bx  bx-crypto'></i> 
            </a>
            <a href="">Home</a>
            <a href="">Listings</a>
            <a href="">About</a>
        </div>
        <div class="search">
            <form action="/search">
                <input type="text" placeholder="Search">
            </form>
        </div>
    </header>
</div>

