<section id="home">

    <div class="main-title">
        <div class="main-title-text-left">
            Stay updated with market prices.
        </div>
        <div class="main-title-image">
            <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1.png" alt="bitcoin logo">
        </div>
    </div>

</section>