a {
    text-decoration: none;
    color: white;
}

#home {
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: center;
}

.main-top {
    /* outline: 1px solid white; */
    /* padding: 50px; */
    width: 100%;
    height: calc(70vh - 92px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-top-text-left {
    /* outline: 2px solid white; */
    font-size: 42px;
    font-weight: 700;
    width: 45%;
}

.main-top-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    padding: 0px 40px;

    /* outline: 1px solid white; */
}

.main-top-right-listings {
    border-radius: 20px;
    background-color: #29313d;
    padding: 20px;

    /* width: 400px; */
}


.main-top-right-listings-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-top-right-listings-header {
    display: flex;
    justify-content: space-between;
}

.main-top-right-listings-header-left {
    display: flex;
    gap: 25px;
}

.main-top-right-listings-header-right {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    color: #727b86;
    transition: 0.3s;
    /* outline: 1px solid white; */
}

.main-top-right-listings-header-right:hover {
    color: #979ca2;
}

.bx-chevron-right {
    font-size: 21px;
    font-weight: 200;
    /* outline: 1px solid white; */
}

.selection-bar {
    border-bottom: 2px solid yellow;
    width: 16px;
    margin: auto;
    margin-top: 2px;
}



.main-top-right-listings-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-top-right-listings-link-container {
    display: flex;
    min-width: clamp(400px, 30vw, 450px);
    justify-content: space-between;
}

.main-top-right-listings-link-left {
    display: flex;
    align-items: center;
    /* outline: 1px solid white; */
    flex: 0 1 clamp(280px, 25vw, 320px);
    /* flex-grow: 1; */
    justify-content: space-between;
}

.main-top-right-listings-link-left-left {
    display: flex;
    align-items: center;
    gap: 6px;
    flex-grow: 1;
}

.main-top-right-listings-link-left-left > img {
    width: 30px;
}

.main-top-right-listings-link-change {
    display: flex;
    align-items: center;
}

/* click function */

.main-top-right-listings-items-top {
    display: none;
}

.main-top-right-listings-items-trending {
    display: none;
}

.main-top-right-listings-items-top.active {
    display: flex;
}

.main-top-right-listings-items-trending.active {
    display: flex;
}

.trending-selection-bar {
    opacity: 0;
}

.trending-selection-bar.active {
    opacity: 1;
}

.top-selection-bar {
    opacity: 0;
}

.top-selection-bar.active {
    opacity: 1;
}

.main-top-right-listings-header-left-left, .main-top-right-listings-header-left-right {
    color: #727b86;
    transition: 0.5s;
    font-size: 15px;
    font-weight: 600;
}

.main-top-right-listings-header-left-left:hover {
    cursor: pointer;
    color: white;
}

.main-top-right-listings-header-left-right:hover {
    cursor: pointer;
    color: white;
}

.main-top-right-listings-header-left-left.active {
    color: white;
}

.main-top-right-listings-header-left-right.active {
    color: white;
}

.main-top-right-listings-link-name {
    font-size: 14px;
    color: #888f98;
}

.main-top-right-listings-link-left-right {
    font-weight: 600;
    font-size: 15px;
}

.main-top-right-listings-link-symbol {
    font-weight: 600;
}