a {
    text-decoration: none;
    color: white;
}

#home {
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: center;
}

.main-top {
    /* outline: 1px solid white; */
    /* padding: 50px; */
    width: 100%;
    height: calc(70vh - 92px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-top-text-left {
    /* outline: 2px solid white; */
    font-size: 42px;
    font-weight: 700;
    width: 45%;
}

.main-top-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    padding: 0px 40px;

    /* outline: 1px solid white; */
}

.main-top-right-listings {
    border-radius: 20px;
    background-color: #29313d;
    padding: 20px;

    /* width: 400px; */
}


.main-top-right-listings-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-top-right-listings-header {
    display: flex;
    justify-content: space-between;
}

.main-top-right-listings-header-left {
    display: flex;
    gap: 25px;
}

.selection-bar {
    border-bottom: 2px solid yellow;
    width: 16px;
    margin: auto;
    margin-top: 2px;
}



.main-top-right-listings-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-top-right-listings-link-container {
    display: flex;
    min-width: 400px;
    justify-content: space-between;
}

.main-top-right-listings-link-left {
    display: flex;
    align-items: center;
    /* outline: 1px solid white; */
    flex-basis: 300px;


}

.main-top-right-listings-link-left-left {
    display: flex;
    align-items: center;
    gap: 6px;
    flex-grow: 1;
}

.main-top-right-listings-link-left-left > img {
    width: 30px;
}

.main-top-right-listings-link-change {
    display: flex;
    align-items: center;
}


