@import url("header.css");
@import url("home.css");
@import url("listings.css");
@import url("footer.css");

body {
    background-color: #0D1627;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Poppins", sans-serif;
}

#shader-bg {
    position: fixed;
    inset: 0;
    z-index: -1;
    background: black;
}